<% layout ('./layouts/boilerplate') %>
<link rel="stylesheet" href="/styleSheets/home.css">
<div class="p-3 mb-0 bg-body-tertiary d-flex flex-column main">
    <div class=" d-flex flex-sm-row flex-column align-items-center">
        <div class="col-9 col-sm-5">
            <img 
                src="https://media.istockphoto.com/id/1695466267/photo/computer-folders-on-keyboard.webp?b=1&s=170667a&w=0&k=20&c=je3nxJc9MEFt2xCfhdCJaR7viLxXI_T3qaMwKCdw464=" 
                class="img-fluid p-3 image"
                alt="Welcome!"
            >
            <h2 class="text-center">Welcome to Your Portfolio Manager!</h2>
        </div>
        <div class="align-items-center">
            <p class="justify-content-start">
                We're excited to have you here! Our app is designed to help you showcase your projects and 
                manage your tasks with ease. Whether you're a developer, designer, or any other professional, 
                our intuitive platform makes it simple to keep track of your work and present it beautifully.
            </p>  
        </div>
    </div>
      
    <em class="text-center">Start by registering or logging in, and let's build an impressive portfolio together!</em>
</div>

